<div class="about">
    <h2>Bem vindo ao About</h2>
    <br>
    <p>O Angular é um poderoso framework que utiliza HTML e TypeScript para criar a interface com o usuário, ou seja, o front-end em aplicações web, desktop e dispositivos móveis. A primeira versão foi lançada em 2010 com o nome Angular JS, mas foi completamente reescrita e em 2016 passou a ser chamada Angular 2. Desde então, passou por diversas mudanças importantes em seu código fonte e atualmente está na versão 9, lançada em fevereiro de 2020. Para explorar todo o potencial que o framework Angular oferece é preciso entender como ele funciona e de que forma ele se relaciona com o back-end da aplicação. Neste conteúdo, vamos mostrar:</p>
</div>